# macOS
## General
.DS_Store

# Windows
## Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# shortcuts
*.lnk

# Visual Studio Code
.vscode/**